streamlit
langchain
openai
pinecone
google-generativeai
azure-storage-blob
scikit-learn
PyMuPDF
tqdm
python-dotenv
langchain-google-genai
PyPDF2
python-dotenv
azure-storage-blob
langchain-google-genai
google-auth
rank-bm25
nltk 
rouge-score
plotly

